# Temporary files
*.log
*.orig
*~
.\#*
.~*
\#*\#

# No need to version log files...
servers/projop/log/*.log
servers/projop/log/throttle-data.dump

# /packages/ come from GitHub packages repo
servers/projop/packages

# Files created by the installer

Cygwin-Terminal.ico
Cygwin.bat
Cygwin.ico
setup-x86_64.exe
uninstall.exe
project-open-Windows-*.exe
postgresql-16.6-3-windows-x64.exe
installer/jre*.msi

# CygWin, JRE and PostgreSQL files
bin/*
cygdrive/*
dev/*
etc/*
home/*
jre/*
lib/*
pgsql/*
proc/*
sbin/*
tmp/*
usr/*
var/*
servers/projop/log/*

