# Temporary files
*.log
*.orig
*~
.\#*
.~*
\#*\#


# Database comes installed in the PG files
installer/pg_dump.vanilla.sql

# No need to version log files...
servers/projop/log/*

# /packages/ come from GitHub packages repo
servers/projop/packages

# Files created by the installer
uninstall.exe
project-open-Windows-*.exe
postgresql-16.6-3-windows-x64.exe
installer/jre*.msi

# CygWin, JRE and PostgreSQL files
bin/*
cygdrive/*
dev/*
etc/*
home/*
jre/*
lib/*
pgsql/*
proc/*
sbin/*
tmp/*
usr/*
var/*
